@model MotorInsuranceCalculator.Models.PremiumCalculatedViewModel

@{
    ViewBag.Title = "Premium Calculated";
}

<div class="jumbotron">
    <h1>Your premium is £@Model.Premium.ToString()</h1>
</div>

