@model MotorInsuranceCalculator.Models.PolicyDeclinedViewModel

@{
    ViewBag.Title = "Policy declined";
}

<div class="jumbotron">
    <h1>Your policy has been declined for the following reason:</h1>
    <h2>@Model.PolicyDeclinedReason</h2>
</div>
